{% load static %}

<header class="p-3 bg-dark text-white">
  <div class="container">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo_yatube.png' %}" width="35" height="35"
             class="d-inline-block align-top" alt="">
        <span style="color:red"></span>
      </a>

      {% with request.resolver_match.view_name as view_name %}

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="/" class="nav-link px-2 text-white">
            Home
          </a>
        </li>

        <li>
          <a href="{% url 'chat:chat' %}" class="nav-link px-2 text-white">
            chat
          </a>
        </li>


        <li><a href="{% url 'about:tech' %}"
               class="nav-link px-2  text-white ">Технологии</a></li>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-white"  href="{% url 'posts:post_create' %}">Новая запись</a>
        </li>
                <li class="nav-item">
          <a class="nav-link link-light text-white"
             href="{% url 'users:password_change' %}">Изменить пароль</a>
        </li>
        <li><a href="{% url 'about:author' %}"
               class="nav-link px-2  text-white">About</a>
        </li>


      </ul>
      {% endif %}
      {% endwith %}


      {% if request.user.is_authenticated %}

      <div class="text-end">
        <a href="{% url 'users:logout' %}">
          <button type="button" class="btn btn-outline-light me-2">
            Logout
          </button>
        </a>
        {% else %}

        <a href="{% url 'users:login' %}">
          <button type="button" class="btn btn-outline-light me-2">
            Login
          </button>
        </a>

          <a class="nav-link link-light" href="{% url 'users:signup' %}">

          <button type="button" class="btn btn-warning">Sign-up</button>
          </a>



        {% endif %}
      </div>
    </div>
  </div>
</header>




