<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    {{ messages|json_script:"messages" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        let messages = JSON.parse(document.getElementById('messages').textContent);
        messages = JSON.parse(messages);
        for (message of messages){
        add_message(message.fields)

        }

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            add_message(data);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': '{{request.user.username}}'
            }));
            messageInputDom.value = '';
        };

        function add_message(data){
            data.pub_date = new Date(data.pub_date)
            data.pub_date = data.pub_date.toLocaleTimeString().substr(0, 5)
            document.querySelector('#chat-log').value += (data.pub_date +' '+ data.username + ': ' + data.message + '\n');
            }

    </script>
</body>
</html>